<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>Congratulations! You are logged in.</div>
        <form action = "/add"><br>
                
                     Name: <input type='text' name='name'><br>
                     Street: <input type='text' name='street'><br>
                     State: <input type='text' name='state'><br>
                     Zip: <input type='text' name='zip'><br>
                     <input type='submit' value='Submit'><br>
                     </form>
        <br />
        <a href="/logout">Logout</a>
    </body>
</html>
