<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xlmns:th="http://thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <form method="post" th:action="@{/access}" th:object="${loginBean}">
            <label for="username">Username</label>
            <input type="text" placeholder="User" th:field="*{username}" />
            <br />
            <label for="password">Password</label>
            <input type="password" placeholder="Password" th:field="*{password}" />
            <br />
            <input type="submit" value ="Go" />

    
    </form>
    </body>
</html>
